<section id="about" class="section-container">
	<header class="section-header">
		<h2>What is Refresh?</h2>
	</header>

	<div class="wrapper">
		<div class="content pull-left">
			<p>Refresh is a community of designers and developers working to refresh the creative, technical and professional aspects of new media endeavors in the Wichita Falls area. Are you interested in the latest web technologies? Care about design, but feel it must be usable? <strong>RefreshWF</strong> aims to educate across a variety of topics and skill level. Whether giving an introduction to HTML and CSS or live coding a single-page JavaScript heavy web app, we hope everyone walks away from each meeting with something.</p>

			<h3>So, who is behind this group?</h3>

			<p><strong>RefreshWF</strong> is currently being organized by <a href="http://iwasasuperhero.com" title="iwasasuperhero.com">James Fleeting</a> and <a href="http://flavors.me/jslaybaugh" title="Jorin Slaybaugh">Jorin Slaybaugh</a>. We had long noticed the lack of any real community around this profession even though we knew people were out there doing amazing things on the web and those wanting to learn more. After a few discussions we moved forward on attempting to organize this user group in an attempt to jump start the web community in town, network with other designers and developers and showcase the talent in this area. We look forward to the group growing as well as our members passion for the web with each meeting.</p>

			<p><a href="http://jamesfleeting.com" title="jamesfleeting.com">James Fleeting</a> is senior web designer and developer working at <a href="http://crane-west.com" title="Crane | West">Crane | West</a> in Wichita Falls. He works on a wide variety of websites for a range of clients, dabbling a little in video production for tv commercials and constantly playing with new technologies and apps. His true passion is HTML, CSS, jQuery, web apps and browsing the HTML/CSS specs in a constant attempt to better understand his craft. You can find his blog at <a href="http://iwasasuperhero.com" title="iwasasuperhero.com">iwasasuperhero.com</a>, follow him on <a href="http://twitter.com/twofivethreetwo" title="@twofivethree">twitter</a> or browse his projects on <a href="https://github.com/jamesfleeting/" title="jamesfleeting on github">github</a>.</p>

			<p><a href="http://flavors.me/jslaybaugh" title="Jorin Slaybaugh">Jorin Slaybaugh</a> graduated from Midwestern State University and is currently the lead developer and VP of Technology for <a href="http://www.e-ventsoftware.com/" title="E-vent Software">E-vent Software</a>. He is a .NET guy with a love of jQuery and using MVC to make API's for single-page JavaScript web apps. You can find his blog at <a href="http://cacheandquery.com" title="Cache and Query">cacheandquery.com</a>, follow him on <a href="http://twitter.com/jslaybaugh" title="@jslaybaugh">twitter</a> or browse his repositories on <a href="https://github.com/jslaybaugh/" title="jslaybaugh on github">github</a>.</p>
		</div>

		<aside class="pull-right">
			<h3>Meeting Location</h3>

			<p><strong>Crane | West</strong><br />
				4245 Kemp Blvd. Suite 815<br />
				Wichita Falls, Texas 76308<br />
				<a href="http://g.co/maps/ktuzz" title="View Map">View Map</a></p>

			<h5>Meeting Info</h5>

			<p>Our monthly meetings are held at the Crane | West offices in the Chase Bank Tower on Kemp Blvd (across from Sikes Mall). The office is located on the 8th floor. We meet the <strong>third Monday</strong> of every month. Refreshments will be provided at 6:30pm with the presentation at 7pm so come early, grab a snack and meet some other designers and developers in the area.</p>

			<p>We are striving to make this a collaborative community and a creative environment instead of a typical boring lecture. We encourage you to get involved, bring your laptops to the meetings, socialize, show off anything you are working on, ask questions and have fun. If you are planning to attend please RSVP at the link provided in the talk description. It helps us gauge the night and refreshments.</p>
		</aside>
	</div>
</section>