<section id="contact" class="section-container">
	<header class="section-header">
		<h2>Contact Us</h2>
	</header>

	<div class="wrapper">
		<aside class="pull-left">
			<p>RefreshWF events are open to anybody, beginner or expert, who is excited about the web. Interested in attending a meeting but have a few questions? Have a presentation in mind that you would like to give? We are always looking for speakers and would love to hear ideas for improving Refresh Wichita Falls so fill out the form and send us an email.</p>
		</aside>

		<div class="content pull-right">
			<form id="form1" name="form1" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://refreshwf.wufoo.com/forms/z7x3x5/#public">
				<label for="Field1">Your Name</label><br />
				<input id="Field1" name="Field1" type="text" value="" maxlength="255" tabindex="1" onkeyup="" required><br />

				<label for="Field7">Your Email</label><br />
				<input id="Field7" name="Field7" type="email" spellcheck="false" value="" maxlength="255" tabindex="2" required><br />

				<label id="title6" for="Field6">Your Message</label><br />
				<textarea id="Field6" name="Field6" spellcheck="true" tabindex="4" onkeyup="" required></textarea><br />

				<input id="saveForm" name="saveForm" type="submit" value="Send Email"> All fields are required.
				<input type="hidden" id="idstamp" name="idstamp" value="86AXTO2i6k47lQjAhyKEUZGEe/iZaEHmHFzQ3jCbKPM=">
			</form> 
		</div>
	</div>
</section>