<section id="involved" class="section-container">
	<header class="section-header">
		<h2>Get Involved</h2>
	</header>

	<div class="wrapper">
		<p>Our community is only as strong as its members and that means we want to hear from you!  To encourage and reward participation in all capacities, we plan to have giveaways at the end of each meeting for those who have spoken during or completed the challenge for that meeting. The more involved you are, the greater your chance of winning is each week. For a full breakdown, see below!</p>
		<ul>
			<li>Give a <a href="/#talks">talk</a> - <strong>5 entries</strong></li>
			<li>Share a resource - <strong>3 entries</strong></li>
			<li>Correctly complete the <a href="/#challenges">monthly challenge</a> - <strong>1 entry</strong></li>
		</ul>
		<p>At the end of each meeting, all the entries will be tallied and a winner will be randomly selected from those entries. <strong>Get involved!</strong></p>
	</div>
</section>